@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html{
	scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  /*position: absolute;*/
  /*overflow-x: hidden;*/
}
a{
  text-decoration: none;
}
img{
  width: 100%
}
#root{
	overflow-x: hidden;
}
@keyframes loading{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.loading{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh
}
.loading > img{
	animation: 1s loading infinite;
	width: 80px;
}