@use "theme.scss";

.navbar{
  display: flex;
  background-color: white;
  padding: theme.$container_all;
  border-bottom: 2px solid theme.$gray;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  div:nth-child(2){
  	justify-content: center;
  	input{
  		padding: 0 1em 0 1em;
  		border-radius: 5em;
  		width: 100%;
  		background-color: theme.$gray;
  	}
  }
  div:nth-child(3){
  	justify-content: flex-end;
  	a:nth-child(2){
  		background-color: theme.$primary;
  		color: white;
  		border-radius: 0.4em;
  	}
  }
  div{
  	display: flex;
  	flex: 1;
  	a{
  		padding: 0.8em;
  		font-weight: bold;
  	}
    a:nth-child(2){
      @media (min-width: theme.$query_sm){
        display: block;
      }
      display: none;
    }
  }
}

@media (min-width: theme.$query_md){
  .navbar{
    padding: theme.$container;
  }
}

.bottom_nav{
  @media (min-width: theme.$query_sm){
    display: none !important;
  }
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  a{
    flex: 1;
    padding: 1.4em;
    display: flex;
    justify-content: center;
  }
  svg{
    width: 20px;
  }
}